@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font: var(--db-type-headline-xl) !important;
}

h2 {
  font: var(--db-type-headline-lg) !important;
}

h3 {
  font: var(--db-type-headline-md) !important;
}

h4 {
  font: var(--db-type-headline-sm) !important;
}

h5 {
  font: var(--db-type-headline-xs) !important;
}

h6 {
  font: var(--db-type-headline-2xs) !important;
}

a {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
}
